<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postItem.loveIts > 0,
                'list-group-item-danger': postItem.loveIts < 0 }">
  <div class="row">
    <div class="col-xs-6">
      <h3>{{ postItem.title }}</h3>
    </div>
    <div class="col-xs-6">
      <div class="text-muted font-italic pull-right">{{ postItem.created_at | date: 'dd/MM/yy, hh:mm a'}}</div>
    </div>
  </div>
  <p>{{ postItem.content }}</p>
  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-success" (click)="onLikeIt()">Love It!</button>
      <button class="btn btn-danger" (click)="onUnlikeIt()">Don't love It!</button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-danger pull-right" (click)="onDeletePost()">Supprimer</button>
    </div>
  </div>

</li>
